In [8]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt 
import seaborn as sns
plt.style.use('ggplot')

import kagglehub

pd.set_option('display.max_columns', 200)
# Download latest version
# path = kagglehub.dataset_download("firedmosquito831/student-academic-performance-simulation-4000")

# print("Path to dataset files:", path)

In [10]:
df = pd.read_csv(path + '/student_performance.csv')
df.shape
df.head(5)

,Gender,HoursStudied/Week,Tutoring,Region,Attendance(%),Parent Education,Exam_Score
0,Male,5.5,No,Urban,72.7,Tertiary,43.5
1,Female,6.8,No,Urban,62.0,Primary,51.7
2,Female,9.7,No,Rural,95.0,Secondary,70.1
3,Male,13.3,Yes,Rural,52.9,NaN,79.5
4,Female,8.9,No,Urban,50.8,NaN,52.2